<div>
  <mat-toolbar color="primary" class="upper">
    <div class="title-banner">Weatherman</div>
    <button (click)="onClickVersion()">version 1.1.0</button>
  </mat-toolbar>
  <mat-toolbar color="accent" class="lower">
    <span>Reporting the weather. &nbsp;Saving lives.</span>
  </mat-toolbar>
  <div fxLayoutAlign="center">
    <app-city-search></app-city-search>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex="300px" fxFlex.gt-sm="450px">
      <mat-card-header>
        <mat-card-title>
          <div class="mat-headline primary-color oblique">Current Weather</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>
