<div *ngIf='!current'>
  Weather information could not be retrieved.
</div>
<div *ngIf='current'>
  <div fxLayout="row">
    <div fxFlex="90%" class="mat-title no-margin">
      {{ current.city }}, {{ current.country }}&nbsp;
    </div>
    <div fxFlex class="right mat-h3 no-margin">
      {{ current.date | date:'EEEE' }}<br>
      {{ current.date | date:'MMM d' }}<sup>{{ getOrdinal(current.date) }}</sup>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="66%">
      <img [src]="current.image" [alt]="current.description" />
    </div>
    <div fxFlex class="right mat-display-3 no-margin">
      {{ current.temperature | number:'1.0-0' }}<!--
      remove blank space added by newline span element by adding this comment
      --><span class="unit mat-display-1">&#8451;</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="mat-caption">
    {{ current.description }}
  </div>
</div>